<div class="container" *ngIf="performance"><h3>{{performance.label}}</h3>
	<p>At {{performance.getValue('prov:startedAtTime')}}</p>
	<h4>Performers</h4>
	<ul>
		<li *ngFor="let perf of performers">{{perf.label}}</li>
	</ul>
	<h4>Sub-events</h4>
	<ul>
		<li *ngFor="let sub of subevents">{{sub.getValue('prov:startedAtTime')}}: {{sub.label}}</li>
	</ul>
	<h4>Recordings</h4>
	<ul>
		<li *ngFor="let rec of recordings">{{rec.label}} <a *ngFor="let url of rec.getValues('urls')" href="{{url}}">{{url}} </a></li>
	</ul>
	<button (click)="goBack()">Back</button>
</div>
