<div class="container" *ngIf="work"><h1>{{work.label}}</h1>
<!-- <i class="material-icons">face</i> -->
	<p><a [routerLink]="['/work', work.id]">More about {{work.label}}...</a></p>
	<p *ngIf="!showMap">Select <i class="material-icons">check_box_outline_blank</i> a Performance then play <i class="material-icons">play_circle_outline</i> its parts, or select <i class="material-icons">check_box_outline_blank</i> a Part then play <i class="material-icons">play_circle_outline</i> the different versions available.</p>
	<p *ngIf="showMap">Select <i class="material-icons">check_box_outline_blank</i> a Performance then click on its parts, or a click on and select <i class="material-icons">check_box_outline_blank</i> a Part then play <i class="material-icons">play_circle_outline</i> the different versions available.</p>
	<h2>Performances</h2>
	<div class="row">
		<div class="col-sm-6 col-md-4 performance" *ngFor="let perf of performances" [ngClass]="{'highlighted': perf.highlighted}"
			(click)="clickPerformance(perf)">
			<a (click)="clickPerformanceCheckbox($event,perf)" class="pointer">
				<i class="material-icons">{{perf.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
			</a>
			<a (click)="clickPerformancePlay($event,perf)" class="pointer">
				<span *ngIf="perf.active && perf.available"><i class="material-icons">play_circle_filled</i></span>
				<span *ngIf="!perf.active && perf.available"><i class="material-icons">play_circle_outline</i></span>
				<span *ngIf="!perf.available"><i class="material-icons">&nbsp;</i></span>
			</a>
			{{perf.label}}<!-- (@ {{perf.startTime}}) -->
			<span class="performer" *ngFor="let performer of perf.performers">{{performer.label}} </span>
		</div>
	</div>
	<!-- <p *ngIf="selectedPerformance"><em>{{selectedPerformance.label}}</em>: {{selectedPerformance.description}}</p>  -->
	<h2>Parts (sections) 
	<div class="btn-group">
		<button class="btn btn-secondary" [ngClass]="{'active':!showMap}" (click)="setShowMap(false)">List</button>
		<button class="btn btn-secondary" [ngClass]="{'active':showMap}" (click)="setShowMap(true)">Map</button>
	</div>
	</h2>
	<div class="row" *ngIf="!showMap">
		<div class="col-sm-6 col-md-4 part" *ngFor="let part of parts" [ngClass]="{'highlighted': part.highlighted}"
			(click)="clickPart(part)">
			<a (click)="clickPartCheckbox($event,part)" class="pointer">
				<i class="material-icons">{{part.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
			</a>
			<a (click)="clickPartPlay($event,part)" class="pointer">
				<span *ngIf="part.active && part.available"><i class="material-icons">play_circle_filled</i></span>
				<span *ngIf="!part.active && part.available"><i class="material-icons">play_circle_outline</i></span>
				<span *ngIf="!part.available"><i class="material-icons">&nbsp;</i></span>
			</a>
			{{part.label}}
		</div>
		<div class="col-sm-12 col-md-4 col-lg-6">
			<p *ngIf="selectedPart"><em>{{selectedPart.label}}</em>: {{selectedPart.description}}</p>
			<p *ngIf="!selectedPart && currentlyPlaying"><em>{{currentlyPlaying.part.label}}</em>: {{currentlyPlaying.part.description}}</p>
		</div>
	</div>
	<div class="row">
		<div *ngIf="showMap" class="col-sm-12 col-md-8 col-lg-6">
			<parts-map [parts]="parts" [work]="work" (select)="clickMapPart($event)"></parts-map>
		</div>
		<div class="col-sm-12 col-md-8 col-lg-6">
		<div *ngIf="showMap && selectedPart">
			<div class="part" [ngClass]="{'highlighted': selectedPart.highlighted}"
			(click)="clickPart(selectedPart)">
				<a (click)="clickPartCheckbox($event,selectedPart)" class="pointer">
					<i class="material-icons">{{selectedPart.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
				</a>
				<a (click)="clickPartPlay($event,selectedPart)" class="pointer">
					<span *ngIf="selectedPart.active && selectedPart.available"><i class="material-icons">play_circle_filled</i></span>
					<span *ngIf="!selectedPart.active && selectedPart.available"><i class="material-icons">play_circle_outline</i></span>
					<span *ngIf="!selectedPart.available"><i class="material-icons">&nbsp;</i></span>
				</a>
				{{selectedPart.label}}
			</div>
			<p ><em>{{selectedPart.label}}</em>: {{selectedPart.description}}</p>
		</div>
		<div *ngIf="showMap && currentlyPlaying && !selectedPart">
			<div class="part" [ngClass]="{'highlighted': currentlyPlaying.part.highlighted}"
			(click)="clickPart(currentlyPlaying.part)">
				<a (click)="clickPartCheckbox($event,currentlyPlaying.part)" class="pointer">
					<i class="material-icons">{{currentlyPlaying.part.selected ? 'check_box' : 'check_box_outline_blank'}}</i>
				</a>
				<a (click)="clickPartPlay($event,currentlyPlaying.part)" class="pointer">
					<span *ngIf="currentlyPlaying.part.active && currentlyPlaying.part.available"><i class="material-icons">play_circle_filled</i></span>
					<span *ngIf="!currentlyPlaying.part.active && currentlyPlaying.part.available"><i class="material-icons">play_circle_outline</i></span>
					<span *ngIf="!currentlyPlaying.part.available"><i class="material-icons">&nbsp;</i></span>
				</a>
				{{currentlyPlaying.part.label}}
			</div>
			<p ><em>{{currentlyPlaying.part.label}}</em>: {{currentlyPlaying.part.description}}</p>
		</div>
		<div *ngFor="let rec of recordings"><!-- audio controls -->
			<audio *ngIf="!rec.isVideo" id="{{rec.id}}" (canplay)="audioCanplay($event,rec)" (seeked)="audioSeeked($event,rec)"
			(timeupdate)="audioTimeupdate($event,rec)" (ended)="audioEnded($event,rec)">
				<source src="{{rec.urls[0]}}" type="audio/mpeg">
				Your browser does not support audio
			</audio>
			<video *ngIf="rec.isVideo" id="{{rec.id}}" (canplay)="audioCanplay($event,rec)" (seeked)="audioSeeked($event,rec)"
			(timeupdate)="audioTimeupdate($event,rec)" (ended)="audioEnded($event,rec)"
			[ngClass]="{hidden:!rec.visible}">
				<source src="{{rec.urls[0]}}" type="video/mp4">
				Your browser does not support video
			</video>
		</div>
		</div>
	</div>
	<h2>Playing
		<div class="btn-group">
			<button class="btn btn-secondary" [ngClass]="{'active':!showVideo}" (click)="setShowVideo(false)">Audio</button>
			<button class="btn btn-secondary" [ngClass]="{'active':showVideo}" (click)="setShowVideo(true)">Video</button>
		</div>
	</h2>

	<div class="row" *ngIf="!!currentlyPlaying">
		<div class="col-12" *ngIf="!!currentlyPlaying.clip && !!currentlyPlaying.clip.recording">
			<span class="time">{{currentlyPlaying.currentTimeText}}</span>
			<a (click)="previous()"><i class="material-icons">skip_previous</i></a>
			<a (click)="back()"><i class="material-icons">fast_rewind</i></a>
			<i *ngIf="!(!!currentlyPlaying && !currentlyPlaying.clip.recording.shouldplay)" class="material-icons">play_circle_filled</i>
			<a (click)="play()" *ngIf="!!currentlyPlaying && !currentlyPlaying.clip.recording.shouldplay">
				<i class="material-icons">play_circle_outline</i>
			</a>
			<a (click)="pause()"><i class="material-icons">pause_circle_outline</i></a>
			<a (click)="forward()"><i class="material-icons">fast_forward</i></a>
			<a (click)="next()"><i class="material-icons">skip_next</i></a>
		</div>
		<div class="col-12">
			<table>
				<tbody>
					<tr *ngFor="let subevent of currentlyPlaying.subevents">
						<td>
							<a (click)="playSubevent(subevent)">
								<span *ngFor="let i of countdownLevels" [ngClass]="{countdown:true, active:subevent.countdown==i, inactive: subevent.countdown!=i}">&nbsp;</span>
								<span class="time" [ngClass]="{highlight:subevent.highlight}">{{subevent.startTimeText}}</span>
							</a>
						</td>
						<td>{{subevent.description}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-12">
			<p *ngIf="!currentlyPlaying.clip || !currentlyPlaying.clip.recording">Sorry, the recording for this performance is not yet available</p>
			<em>{{currentlyPlaying.performance.label}}</em>: {{currentlyPlaying.performance.description}}<br>
			<p>Performed by <span class="performer" *ngFor="let performer of currentlyPlaying.performance.performers">{{performer.label}} </span></p>
			<em>{{currentlyPlaying.part.label}}</em>: {{currentlyPlaying.part.description}}
		</div>
	</div>
	<!-- <ul>
		<li *ngFor="let pp of partPerformances">{{pp.performance.id}} / {{pp.part.id}}</li>
	</ul> -->
</div>
