/* work-explorer */
.performance {
	border: 1px solid rgba(128,128,128,0.2);
}
.part {
	border: 1px solid rgba(128,128,128,0.2);
}
.highlighted {
	/*box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);*/
	background-color: rgba(0,0,0,0.1);
}
.pointer {
	cursor: pointer;
}
a {
	cursor: pointer;
	user-select: none;
}
i {
	vertical-align: middle;
}
span.time {
	font-family: monospace;
	font-size: 150%;
}
.countdown.inactive {
	/*background-color: rgba(0,0,0,0.1);*/
}
.countdown.active {
	background-color: rgba(0,1,0,0.5);
}
.time.highlight {
	background-color: rgba(0,1,0,0.2);
}
video {
	width: 100%;
	height: auto;
}
video.hidden {
	display: none;
}
