/* work-explorer */
.performance {
	border: 1px solid rgba(128,128,128,0.2);
}
.part {
	border: 1px solid rgba(128,128,128,0.2);
}
.highlighted {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}